<section class="subscribe-form">
    <h3 class="subscribe-form-title">Подписаться на {{@site.title}}</h3>
    <p class="subscribe-form-description">Получайте свежие статьи прямо на почту. Без спама.</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="введите вашу почту" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">Подписаться</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Готово!</strong> Проверте свою почту и подтвердите подписку, чтобы письма точно приходили. 
        </div>
        <div class="message-error">
            В написании адреса какая-то ошибка. Введите правильный адресс.
        </div>
    </form>
</section>